<div class="lg:pr-64 flex flex-col flex-1">
  <main class="flex-1 pb-8">
    <div class="editor-wrapper h-full w-full">
      <div id="editor" class="h-full" phx-hook="Editor" phx-update="ignore"></div>
    </div>
  </main>
</div>

<.live_component module={CtrlvWeb.SideBarComponent} id="sidebar" is_editing={@is_editing} changeset={@changeset} />
